USE [master]
GO
/****** Object:  Database [EployeeDB]    Script Date: 13/02/2020 13:55:59 ******/
CREATE DATABASE [EployeeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EployeeDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\EployeeDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EployeeDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\EployeeDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EployeeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EployeeDB]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 13/02/2020 13:55:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[EMPCode] [nvarchar](20) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Position] [nvarchar](50) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeId], [FullName], [EMPCode], [Mobile], [Position]) VALUES (1, N'Jose Maria Antunez', N'123', N'3815582300', N'PR')
SET IDENTITY_INSERT [dbo].[Employee] OFF
USE [master]
GO
